
#main-wrapper {
    background-image: url("../img/website-background.jpg");
    background-attachment: fixed;
}

.welcome{
    font-size: 3em;
    font-family: Broadway;
    color: #004b67;
}

.wrapper {
    box-shadow: 0px 0px 100px black;
    background-color: white;
    border: 1px dotted black;
}

header h1 {
    color: #00a86d;
    font-family: 'Cambria Math';
    font-weight: bold;
}

.box-menu:hover {
    box-shadow: 0px 1px 10px black;
    transition: 0.3s ease-in-out;
}

.box-menu a{
    text-decoration: none;
}

.box-wrapper {
    background-color: #004b67;
    color: white;
}

.nav-menu {
    background-color: #004b67;
    color: white;
}

.headline-1 {
    color: #00a86d;
}

.headline{
    padding: 3px;
    text-align: center;
    margin-bottom: 1rem;
    color: #004b67;
    letter-spacing: 2px;
}

.notice-item:hover {
    border-left: 6px solid #004b67;
    border-right: 6px solid #004b67;
    margin-bottom: 1px;
    transition: 0.4s ease-in-out;
}

.notice-item h6, .notice-item h4 {
    color: #861a3a;
}

.notice-item p {
    color: #861a3a;
}

.fixed-background-1 {
    background: url(../img/website-starting.gif) 50% 50% no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 20px 0;
    padding: 150px 0;
    text-align: center;
}

.fixed-background-1 p {
    font-size: 2rem;
    font-family: "Century Schoolbook";
    background: rgba(0,0,0,.5);
    color: #fff;
}

.second-nav-main{
    background-color: #f2f2f2;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: black;
    border: 1px inset #004b67;
}

.second-nav {
    list-style-type: none;
    overflow: hidden;
    margin-bottom: 0;
}

.second-nav li {
    float: left;
    text-align: center;
}

.second-nav li a {
    display: block;
    text-align: center;
    padding: 0.6rem;
    color: #000000;
    text-decoration: none;
}

.second-nav li a:hover{
    background-color: #bf5456;
    color: #fff;
}

.quick-links-inner{
    height: 250px;
    overflow: scroll;
    overflow-x: unset;
}

.quick-links a{
    font-family: Verdana;
    text-decoration: none;
    margin-left: 2px;
    padding: 5px;
}

.date{
    padding: 0.3rem;
    border-top: 2px dotted gray;
    border-bottom: 2px dotted gray;
    font-family: "Calisto MT";
}

.student-info-table th, .student-info-table td{
    padding: 10px;
}


/*Scroll to top*/
.scroll-top-wrapper {
    position: fixed;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #777777;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
.scroll-top-inner{
    cursor: pointer;
}


/*Main calendar*/
.main-calendar tr:nth-child(even){
    background-color: #1B6565;
    color: #fff;
    font-size: 1.5rem;
}
.main-calendar tr:nth-child(odd){
    background-color: #124D42;
    color: #fff;
    font-size: 1.5rem;
}
.main-calendar td:hover{
    padding: 10px;
    background-color: #29653c;
    color: #fff;
}
.main-calendar a{
    text-decoration: none;
    font-size: 1.1rem;
}
.friday{
    background-color: #124d42 !important;
}
.today{
    font-size: 1rem;
}



/*Online apply feedback table*/
.online-apply-feedback{
    margin: 0 10%;
    overflow: auto;
    overflow-x: unset;
}
.online-apply-feedback-table td{
    padding: 0.7rem;

}




/*Navbar CSS*/
#cssmenu {
    position: relative;
    z-index: 1;
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0;
}

#cssmenu:after, #cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

#cssmenu #head-mobile {
    display: none
}

#cssmenu {
    font-family: sans-serif;
    background: #004b67
}

#cssmenu > ul > li {
    float: left
}

#cssmenu > ul > li > a {
    padding: 17px;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ddd;
    font-weight: 700;
}

#cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
    color: #fff
}

#cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
    background: #834b48 !important;
    -webkit-transition: background .3s ease;
    -ms-transition: background .3s ease;
    transition: background .3s ease;
}

#cssmenu > ul > li.has-sub > a {
    padding-right: 30px
}

#cssmenu > ul > li.has-sub > a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

#cssmenu > ul > li.has-sub > a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}

#cssmenu > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    background: rgba(0, 43, 67, 0.98);
    transition: all .25s ease
}

#cssmenu ul ul li:hover {
    background: #834b48 !important
}

#cssmenu li:hover > ul {
    left: auto
}

#cssmenu li:hover > ul > li {
    height: 35px;
}

#cssmenu ul ul ul {
    margin-left: 75%;
    top: 0
}

#cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    color: #ddd;
}

#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
    border-bottom: 0
}

#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
    color: #fff
}

#cssmenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

#cssmenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}

#cssmenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0
}

#cssmenu ul ul li.has-sub:hover, #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #834b48;
}

#cssmenu ul ul ul li.active a {
    border-left: 1px solid #333
}

#cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: 1px solid #333
}

@media screen and (max-width: 1000px) {
    #cssmenu {
        width: 100%
    }

    #cssmenu ul {
        width: 100%;
        display: none
    }

    #cssmenu ul li {
        width: 100%;
        border-top: 1px solid #444
    }

    #cssmenu ul li:hover {
        background: #363636;
    }

    #cssmenu ul ul li, #cssmenu li:hover > ul > li {
        height: auto
    }

    #cssmenu ul li a, #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0
    }

    #cssmenu > ul > li {
        float: none
    }

    #cssmenu ul ul li a {
        padding-left: 25px
    }

    #cssmenu ul ul li {
        background: #002B43 !important;
    }

    #cssmenu ul ul li:hover {
        background: #834b48 !important
    }

    #cssmenu ul ul ul li a {
        padding-left: 35px
    }

    #cssmenu ul ul li a {
        color: #ddd;
        background: none
    }

    #cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
        color: #fff
    }

    #cssmenu ul ul, #cssmenu ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left
    }

    #cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
        display: none
    }

    #cssmenu #head-mobile {
        display: block;
        padding: 23px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700
    }

    .button {
        width: 55px;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 12399994;
    }

    .button:after {
        position: absolute;
        top: 22px;
        right: 20px;
        display: block;
        height: 4px;
        width: 20px;
        border-top: 2px solid #dddddd;
        border-bottom: 2px solid #dddddd;
        content: ''
    }

    .button:before {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        height: 2px;
        width: 20px;
        background: #ddd;
        content: ''
    }

    .button.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .button.menu-opened:before {
        top: 23px;
        background: #fff;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #444;
        height: 46px;
        width: 46px;
        cursor: pointer
    }

    #cssmenu .submenu-button.submenu-opened {
        background: #262626
    }

    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px
    }

    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }

    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px
    }

    #cssmenu .submenu-button.submenu-opened:after {
        background: #fff
    }

    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: ''
    }

    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px
    }

    #cssmenu .submenu-button.submenu-opened:before {
        display: none
    }

    #cssmenu ul ul ul li.active a {
        border-left: none
    }

    #cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
        border-top: none
    }
}
